@import 'variable.styl'

body,html
  font-family: "Source Sans Pro","Hiragino Sans GB","Microsoft Jhenghei",SimSun,Helvetica,Arial,Sans-serif;
  line-height: 1;
  user-select: none
  // 点击一个链接或者通过Javascript定义的可点击元素的时候，它就会出现一个半透明的灰色背景，设置为tansparent即禁用此属性。
  -webkit-tap-highlight-color: transparent 
  background: $home-bg
  color: $home-fontcolor
  font-size: $font-default
  height: 100%