@import 'variable.styl'

body,html
  font-family: "Source Sans Pro","Hiragino Sans GB","Microsoft Jhenghei",SimSun,Helvetica,Arial,Sans-serif;
  line-height: 1;
  user-select: none
  // 点击一个链接或者通过Javascript定义的可点击元素的时候，它就会出现一个半透明的灰色背景，设置为tansparent即禁用此属性。
  -webkit-tap-highlight-color: transparent 
  background: $home-bg
  color: $home-font
  font-size: $font-default
  height: 100%
.for-just
  margin-bottom: 22px

// mobile element
.mobile .el-button--medium
  padding: .15rem .2rem
  font-size: $mobileFont-extra

.mobile .for-just,.mobile .el-form-item
  margin-bottom: .3rem

.mobile .el-form-item__label
  width: .8rem  !important
  line-height: .6rem;
  padding: 0 !important
  font-size: $mobileFont-extra

.mobile .el-form-item__content
  line-height: 1
  margin-left: .8rem !important

.mobile .register-form .el-form-item__content
  margin-left: 1.2rem !important
  
.mobile .el-textarea__inner
  padding: .05rem .15rem
  font-size: $mobileFont-extra

.mobile .el-input__inner
  padding: .05rem .15rem
  height: .6rem;
  line-height: .6rem;

.mobile .el-form-item__error
  padding-top: .04rem
  font-size: $mobileFont-default

.mobile .el-message
  width: 6rem
  min-width: 6rem  