@import 'variable.styl'

body,html
  font-family: "Source Sans Pro","Hiragino Sans GB","Microsoft Jhenghei",SimSun,Helvetica,Arial,Sans-serif;
  line-height: 1;
  // 点击一个链接或者通过Javascript定义的可点击元素的时候，它就会出现一个半透明的灰色背景，设置为tansparent即禁用此属性。
  -webkit-tap-highlight-color: transparent 
  background: $home-bg
  color: $home-font
  font-size: $font-default
  height: 100%

.for-just
  margin-bottom: 22px

// 浏览器提示
.browser-tips
  background-color: #fd7777
  text-align: center
  font-size: 20px
  line-height: 100px
  position: fixed
  z-index: 999
  top: 200px
  width: 100%

// element样式
.el-menu
  border-right: none
  
.el-form-item
  margin-bottom: 20px

.el-form-item__label
  font-size: 14px

.el-table .cell
  font-size: 13px
  display: flex
  justify-content: center
  align-items: center

.el-table td, .el-table th
  padding: 8px 0

.el-pagination.is-background .el-pager li:not(.disabled).active
  background: $home-navbg

.el-pagination.is-background .el-pager li:not(.disabled):hover
  color: #606266

.el-pagination.is-background .el-pager li:not(.disabled).active:hover
  color: #fff

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li
  background: none

.el-popup-parent--hidden
  padding-right: 0 !important
// 移动端element样式
.mobile .el-button--medium
  padding: .15rem .2rem
  font-size: $mobileFont-small

.mobile .for-just,.mobile .el-form-item
  margin-bottom: .3rem

.mobile .el-form-item__label
  width: .8rem  !important
  line-height: .6rem;
  padding: 0 !important
  font-size: $mobileFont-small

.mobile .el-form-item__content
  line-height: 1
  margin-left: .8rem !important

.mobile .register-form .el-form-item__content
  margin-left: 1.2rem !important

.mobile .el-textarea__inner
  padding: .05rem .15rem
  font-size: $mobileFont-small

.mobile .el-input__inner
  padding: .05rem .15rem
  height: .6rem
  line-height: .6rem

.mobile .el-form-item__error
  padding-top: .04rem
  font-size: $mobileFont-small

.mobile .el-message
  width: 6rem
  min-width: 6rem

// 富文本
.mce-tinymce {
  box-shadow: none !important
}

// 滚动条样式
html::-webkit-scrollbar
  width: 0px
  height: 0px