// 颜色定义
// home
$home-bg        = #fff
$home-font      = #333
$home-navbg     = #4c4c4c
$home-navfont   = #c3c3c3
$home-gray      = #999
$home-thingray  = #ccc
$home-line      = #e0e0e0
$home-codebg    = #282c34
$home-warning   = #f56c6c
// admin
$admin-navbg    = #3d464d
$admin-navbgon  = #31383e
$admin-navfont  = #b0bec5
$admin-navon    = #cdcdcd
$admin-line     = #e5e5e5
$admin-bg       = #f5f5f5
$admin-font     = #555

// 字体定义
// pc
$font-small   = 14px
$font-default = 15px
$font-normal  = 16px
$font-just    = 18px
$font-middle  = 20px
$font-big     = 22px
$font-title   = 24px
$font-jinwhen = 50px
// mobile
$mobileFont-small   = .24rem
$mobileFont-normal  = .26rem
$mobileFont-just    = .3rem
$mobileFont-middle  = .34rem
$mobileFont-title   = .4rem
$mobileFont-jinwhen = .75rem

// 宽度定义
// pc
$nav-width  = 280px
$main-width = 870px
// mobile
$mobileNav-width  = 4.6rem
$mobileMain-width = 7.5rem