// 颜色定义
// home
$home-bg        = #fff
$home-font      = #333
$home-navbg     = #4c4c4c
$home-navfont   = #c3c3c3
$home-darkgray  = #666
$home-gray      = #999
$home-thingray  = #ccc
$home-line      = #e0e0e0
$home-codebg    = #282c34
$home-warning   = #f56c6c
// admin
$admin-bg       = #f5f5f5
$admin-font     = #555
$admin-navbg    = #3d464d
$admin-navfont  = #b0bec5
$admin-navon    = #31383e

// 字体定义
$font-small   = 13px
$font-default = 14px
$font-extra   = 15px
$font-normal  = 16px
$font-just    = 18px
$font-middle  = 20px
$font-big     = 22px
$font-title   = 28px

$font-jinwhen = 50px
// 宽度定义
$nav-width  = 280px
$main-width = 870px