// 颜色定义
// home
$home-leftnav   = #4c4c4c
$home-navcolor  = #c3c3c3
$home-topnavbg  = #ccc
$home-fontcolor = #333
$home-article   = #999
$home-codebg    = #282c34
$home-bg        = #fff
// admin
$admin-leftnav   = #3d464d
$admin-navcolor  = #b0bec5
$admin-navon     = #31383e
$admin-fontcolor = #555
$admin-bg        = #f5f5f5

// 字体定义
$font-default = 14px
$font-small   = 16px
$font-normal  = 18px
$font-middle  = 20px
$font-big     = 22px
$font-large   = 28px
$font-title   = 50px